.docHeader{
    height: 28px;
    background-color: rgb(79 108 151);
    font-size: 19px;
    font-weight: 400;
    font-family: initial;
    color: white
}

.gridAlertHeader{
    background-color: rgb(79 108 151);
    height: 32px;
    font-size: 19px;
    font-weight: 400;
    color: white
}
.docMainHeader{
    height: 35px;
    background-color: rgb(79 108 151);
    font-size: 24px;
    font-weight: 600;
    font-family: initial;
    color: white
}

.docRosterFormHead{
    padding: 15px 15px 15px 15px;
}


.docRosterheader{
    background-color: rgb(79 108 151);
    height: 32px;
    font-size: 19px;
    font-weight: 400;
    color: white
}

.btnRosterDocColor{
    background-color: rgb(79 108 151) !important;
    line-height: 1 !important;
    border: 1px solid !important;
    border-radius: 1.2rem !important;
    font-size: 12px !important;
}

.alertGirdStyle{
    position: fixed; 
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    height: 100px;
    width: 400px;
    background-color: white;
    font-size: 17px;
    font-weight: 500;
    font-family: unset;

}

.editHeader{
    float: right;
    padding: 0px 10px 0px 0px;
}

.modalDocRosterStyle{
    max-height: 75vh;
    width:90vw;
    height: auto;
    flex-flow:column nowrap;
    display: flex;
    align-items: stretch;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: auto;
    background-color: white;
    margin: 80px 0px 0px 80px;
}

.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128,128,128,0.5); 
  }