

/* or write CSS selectors to make customisations beyond what the parameters support */ */
 .ag-theme-alpine .ag-header {
    text-align: left;
    font-style: oblique;
    background: none;

    
}


.ag-row-hover {
    background-color:rgb(79 108 151);
  }

 
    .ag-header {
        font-style:normal;
        font-size: 15px;      
    }

  
