.header{
    background-color: rgb(60, 121, 211);
    height: 32px;
    font-size: 20px;
    font-weight: 400;
    color: aliceblue;
}

.editHeader{
    float: right;
    padding: 0px 10px 0px 0px;
}

.modalStyle{
    position: fixed; 
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    height: 450px;
    width: 722px;
    background-color: white;
}

.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128,128,128,0.5); 
  }

  .backgroundImage{
    background-image: url('../../images/1282799.jpg');
    background-size: cover;             
    background-position: center;
    background-repeat: no-repeat;      
    height: 100vh;
    background-attachment: fixed; 
  }