.gridHeader{
    background-color: rgb(79 108 151);
    height: 32px;
    font-size: 19px;
    font-weight: 400;
    color: white
}

.btnColor{
    background-color: rgb(79 108 151) !important;
}
.cardHeader{
    background-color: rgb(79 108 151) !important;
    color: white;
    font-size: 19px;
    font-weight: 400;
}

.welcomeHeader{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0px 5px 15px;
}

.editHeader{
    float: right;
    padding: 0px 10px 0px 0px;
}

.cardStyle{
    padding: 5px 5px 0px 10px;
}

.headerStyle{
    text-align: inherit;
    font-size: 20px;
    font-weight: 500;
}

.bedModalStyle{
    position: fixed; 
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    height: 500px;
    width: 800px;
    background-color: white;
}

.alertStyle{
    position: fixed; 
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    height: 100px;
    width: 400px;
    background-color: white;
    font-size: 17px;
    font-weight: 500;
    font-family: unset;

}


.updateBedDataContainer{
    padding: 0px 10px 10px 10px;
}

.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128,128,128,0.5); 
  }

  .backgroundImage{
    background-image: url('../../images/1282799.jpg');
    background-size: cover;             
    background-position: center;
    background-repeat: no-repeat;      
    height: 100vh;
    background-attachment: fixed; 
  }