

.header{
    background-color: rgb(60, 121, 211);
    height: 32px;
    font-size: 20px;
    font-weight: 400;
    color: aliceblue;
}

.cardDisplay{
    display: inline-block;
    padding: 0px 42px 0px 0px;
}

.modalStyle{
    max-height: 75vh;
    width:90vw;
    height: auto;
    flex-flow:column nowrap;
    display: flex;
    align-items: stretch;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: auto;
}



.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128,128,128,0.5); 
  }

  
  .editHeader{
    float: right;
    padding: 0px 10px 0px 0px;
}