.header{
    background-color: rgb(60, 121, 211);
    height: 32px;
    font-size: 20px;
    font-weight: 400;
    color: aliceblue;
}

.editHeader{
    float: right;
    padding: 0px 10px 0px 0px;
}

.modalStyle{
    /* width: 77vw;
    height: 125vh;
    max-width: 100vw; */
    position: fixed; /* positioning in center of page */
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    height: 400px; /* size */
    width: 722px;
    background-color: white;
}

.overlay {
    position: fixed; /* Positioning and size */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128,128,128,0.5); /* color */
  }